/* * Base Styles * */

body {
	font-family: 'Montserrat', sans-serif;
}

.full-width {
	width: 1200px;
	margin: 0 auto;
	clear: both;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 398px;
	float: left;
}





/* * Header Styles * */

h1 {
	text-transform: uppercase;
	font size: 30px;
	font-weight: 700;
}

h1 span {
	color: #77a466;
}

.main-nav {
	float: right;
}

nav ul li {
	display: inline-block;
}

.main-nav li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #77a466;
	font-weight: 700;
	padding: 10px;
}



#header-img {
	border: solid 2px #77a466;
}

h2 {
	font-size: 18px;
	color: #77a466;
	text-transform: uppercase;
	font-weight: 700;
}

header p {
	font-size: 16px;
	line-height: 25px;
}

/* * Main Styles * */

main {
 border-top: 1px solid #dedbdc;
 border-bottom: 1px solid #dedbdc;
}


h3 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}



#menu ul{
	list-style-type: none;
	padding-left: 0;
}

#menu li {
	font-size: 16px;
	line-height: 18px;
	color: #77a466;
	padding: 8px 8px 8px 0;
}

#reviews {
	border-left: 1px solid #dedbdc;
	border-right:  1px solid #dedbdc;
	padding: 20px 0 0 20px
}

#reviews p {
	font-size: 16px;
	line-height: 21px;
	width: 320px;
	margin: auto 0;
}


#contact p {

	font-size: 16px;
	line-height: 24px;
}

#contact a {
	color: #000;
	text-decoration: none;
}

/* * Footer Styles * */

footer {

}


footer p {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 40px;
}
.emphasis {
	color: #77a466;
	font-family: 'Dancing Script', cursive;
	text-transform: lowercase;
}